<p>
  
  <mat-form-field appearance="legacy">
    <mat-label>Component label</mat-label>
    <input matInput placeholder="Enter text" type="text" >
    <mat-hint><mat-icon id="icon" matPrefix>info</mat-icon> Component specific information </mat-hint>
  </mat-form-field>
</p>

<p>
  
  <mat-form-field appearance="legacy">
    <mat-label>Disabled input</mat-label>
    <input class="disabled" matInput placeholder="Enter text" disabled>
    <mat-hint><mat-icon id="icon" matPrefix>info</mat-icon> Component specific information </mat-hint>
  </mat-form-field>
</p>

<p>
  
  <mat-form-field appearance="legacy">
    <mat-label>Readonly input</mat-label>
    <input class="readonly" matInput placeholder="Enter text" readonly>
    <mat-hint><mat-icon id="icon" matPrefix>info</mat-icon> Component specific information </mat-hint>
  </mat-form-field>
</p>


<div class="example-container">
  <mat-form-field appearance="legacy">
    <mat-label>Enter your email</mat-label>
    <input  matInput required
            placeholder="abc@example.com"                
            [formControl] = "error"

    >
    <mat-hint><mat-icon id="icon" matPrefix>info</mat-icon> Component specific information </mat-hint>
    <div class="error-message" *ngIf="error.invalid"><mat-icon id="icon" matPrefix>error</mat-icon> Error</div>
  </mat-form-field>

</div>