/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", sans-serif;}

/* Variables */

$lightGrey : #0000001F;
$darkGrey : #00000099;
$blue : #00A9CE;
$greyBg : #0000000A;
$red: #F44336;



.mat-form-field-appearance-legacy {
    margin: 100px;
    margin-top: 0px;
    width: auto;

    .mat-input-element{
        border: solid 1px $lightGrey;
        width: 300px;
        padding: 8px 12px;
        border-radius: 4px;
        margin: 4px 0px;
        &:hover{
            border: solid 1px $darkGrey;
        }
        &:focus{
            border: solid 1px $blue;
        }
    }
    .mat-form-field-underline{
        display: none;
    }
    mat-label{
        font-weight: bold;
        color: $darkGrey;
        font-size: 1rem;
    }
    .disabled{
        background-color: $greyBg;
        &:hover{
            border: solid 1px $lightGrey;
        }
    }
    .readonly{
        background-color: $greyBg;
        border: none;
        color: black;
        &:hover{
            border: none;
        }
    }
    .mat-form-field-infix{
        padding-bottom: 0px;
    }
}

.mat-form-field.mat-focused{
    mat-label{
        color: $blue;
    }
}

.mat-form-field-invalid .mat-hint {
    margin-top: 0px;
}

.mat-form-field-invalid {
    mat-label{
        color: $darkGrey;
    }
}

#icon{
    font-size: 11px;
    width: 11px;
    height: 11px;
}


.error-message{
    color: $red;
    font-size: 10px;
}